.hidden {
    display: none !important;
}

.error {
    display: flex;
    gap: 8px;
    color: #e74c3c;
    margin-bottom: 16px;
}

.erroricon > img {
    height: 24px;
    width: 24px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
}